<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ST181_Halloween_Maker">
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.itemsticker.ItemStickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.lissticker.ListStickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mycreation.MycreationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.success.SuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.ViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.background.BackgroundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.customize.CustomizeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.category.CategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.permission.PermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

    </application>

</manifest>